@import "tailwindcss";

@font-face {
  font-family: "Noto Sans";
  src: url("/public/fonts/NotoSans-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "K2D";
  src: url("/public/fonts/K2D-Bold.ttf") format("truetype");
  font-weight: 700;
}


@theme {

  --font-noto-sans: "Noto Sans", sans-serif;
  --font-k2d: "K2D", sans-serif;

  --color-white: #ffffff;
  --color-black : #070707;
  --color-blue: #17DCF5;
  --color-gray: #BFB6B0;
  --color-gray-dark: #594842;
}